section.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  box-align: center;
}