* {

    box-sizing: border-box;
    outline: 0;
}

body {

    margin: 0;
    padding: 0;
    background-image:url("../../img/clark-van-der-beken-Tk0B3Dfkf_4-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff; 
    align-items: center;
    justify-content: center;

}

.Box {

    text-align: center;
    background: rgba(27, 27, 27, 0.80);
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    box-align: center;
}

.Image{

    width: 100px;
    height: 150px;
    margin-left: 20px;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.Result-box{

    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
}



.inputDiv{

    display: flex;
    align-items: center;
    justify-content: center;

}

.input{

    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    width: 300px;
    margin-left: 5%;

}

.Btn {

    border-radius: 5px;
    background-color: #ffff;
    color: #000;
    margin-left: 2%;
    padding: 8px;
    width: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Btn:hover {
background-color:#F97862;
color: #ffff;
}


.loading-screen {

    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {

    display: none;

}

.card{
    
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color:rgba(27, 27, 27, 0.80);
    width: 380px;
    height:408px;
    margin: 46px;
    max-width: 512px;
    padding: 10px;
}

.result-div {

    display: flex;
    flex-direction:row;
}

.card-body{

    margin-left: 5%;

}


.book-name {

    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.categories{

    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.info {

    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.btnDiv{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 30%;
}

.button {

    /*background: #f8a5c2;*/
    background: #ffff;
    color: #000;
    padding: 8px;
    width: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;

}

.BuyBtn {

    /*background: #f8a5c2;*/
    background: #ffff;
    color: #000;
    margin-left: 3%;
    padding: 8px;
    width: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;

}

.button:hover{
    background-color: #fda58b;
}

.BuyBtn:hover{
    background-color: #02dae9;
}



.loading{
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

.loading span{
    width: 32px;
    height: 32px;
    background-color: red;
    margin: 4px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale{
    50%{
        transform: scale(1.2);
    }
}

.loading span:nth-child(1){
    border-radius: 50% 50% 0 50%;
    background-color: #e77f67;
    transform-origin: bottom right;
}

.loading span:nth-child(2){
    border-radius: 50% 50% 50% 0;
    background-color: #778beb;
    transform-origin: bottom left;
    animation-delay: .5s;
}

.loading span:nth-child(3){
    border-radius: 50% 0 50% 50%;
    background-color: #f8a5c2;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4){
    border-radius: 0 50% 50% 50%;
    background-color: #f5cd79;
    transform-origin: top left;
    animation-delay: 1s;
}
